<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="PHPUnit">
            <directory suffix="Test.php">./phpunit</directory>
        </testsuite>
        <testsuite name="Pest">
            <directory suffix="Test.php">./pest</directory>
        </testsuite>
    </testsuites>
</phpunit>